
<h1 >Event Show page</h1>

posted by <strong><%= @event.user.first_name %></strong>
<!-- < %= image_tag (@listing.avatars[0].square.url) %><br>
< %= @listing.title %> -->
<br>
<%= @event.location %>
<br>
<%= @event.description %>
<br>

 <div style='width: 800px;'>
    <div id="geolocation" style='width: 800px; height: 400px;'></div>
  </div>
<!-- < % @listing.tag_list.each do |tag|%>

  <a href="/tags/< %= tag %>"> #< %= tag %></a>

< % end %> -->

<br>

<!-- < %= form_for [@event, @reservation], url: listing_reservations_path(@listing.id) do |form| %>
    < %= render partial: '/reservations/form', locals: {form: form ,listing: @listing }%> -->




<p>Address: <%= @event.location %></p>
<p>Coordinates: <%= @event.latitude %> <%= @event.longitude %></p>




<div class="btn-group">
  <%= link_to 'Edit', edit_event_path(@event.id), class: "btn btn-primary"%>
<!-- < %= link_to 'Delete', user_path(current_user.id), method : :delete %> -->
  <%= link_to "delete", event_path(@event.id), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %>
</div>

<div id="event_show">
<%= @event.title %>
</div>


<%= form_for :button, method: :get, url: new_request_path do |f| %>

	<%=	f.hidden_field :event_id ,value: @event.id %>
	<br>
	<%= f.submit "Book Now", class:"btn btn-primary" %>

<% end %>


